@font-face {
    font-family: "MelonCamp";
    src:
      url("../fonts/melon_camp/Melon\ Camp.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

body, .recalculate-button, .search-button {
    font-family: "MelonCamp", sans-serif;
    }